{{page-title "Main Page"}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AppConcept</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
<link integrity="" rel="stylesheet" href="{{rootURL}}assets/emberjs-lol.css?111">




<script src="{{rootURL}}assets/vendor.js"></script>
<script src="{{rootURL}}assets/emberjs-lol.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>


<div class="header">
  <div class="headercontainer">
    <div class="navbar">
      <LinkTo @route="about">About</LinkTo>
      <div class="dropdown">
        <button class="dropbtn">Tutorials
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="tut1">Link 1</a>
          <a href="tut2">Link 2</a>
          <a href="tut3">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Documentation
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="doc1">Link 1</a>
          <a href="doc2">Link 2</a>
          <a href="doc3">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Community
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="comm1">Link 1</a>
          <a href="comm2">Link 2</a>
          <a href="comm3">Link 3</a>
        </div>
      </div>
      <div class="navbar">
        <a href="changelog">Changelog</a>
      </div>
    </div>
  </div>
  <div class="signUpContainer">
    <a href="signup"><button class="signUpButton">Sign Up</button></a>
  </div>
  <div class="img">
    <a href=""><img src="assets/images/q-play.jpg" width="200"></a>
  </div>
  <div class="login">
    <LinkTo @route="login">Log In</LinkTo>
  </div>
</div>


<div class="container">
  <div class="leftie">
    <h2></h2>
    <p></p>
  </div>

  <div class="centeredboi">
    <h1>Introduction</h1>
    {{#if authManager.isAuthenticated}}
    LOGGED IN
    {{/if}}
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
    <hr class="solid">
    <a href="applist" style="text-decoration: none"><button class="button">Create an app</button></a>
  </div>

  <div class="rightie">
    <h2></h2>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua."</p>
    <hr class="solid">
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua."</p>
  </div>
</div>

{{footer-main}}
{{outlet}}