{{page-title "Publish"}}
{{app-edit-full}}
<div class="myappcol">
    <div class="sidebar">
        <ul>
            <a href="myapp">Basic information</a>
            <a href="permissions">Permissions</a>
            <a href="publish" style="color: #83bb00">Publish</a>
        </ul>
    </div>
</div>
{{my-app}}
{{publish-app}}
{{outlet}}